/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    height: 100%;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*--------------------------COLORS-----------------------------------*/

.red{
    background-color:#fe4221;
}

img {
    max-width: 100%;
    height: auto;
}
.both{
    clear:both;
}

/*--------------------------WHITE SPACES-----------------------------------*/
.top-space-big{
    padding-top: 40px;
 }
 .bottom-space-big{
    padding-bottom: 40px;
 }
 .top-space-small{
    padding-top: 20px;
 }

 .bottom-space-small{
    padding-bottom: 20px;
 }
 
 
/*--------------------------TEXT-----------------------------------*/
.text {
    font-family: Georgia, Times, "Times New Roman", serif;
    text-align: center;
 }

 .text.normal {
    font-size: 18px;
    line-height: 28px;
 }
 .text.section {
    font-size: 16px;
    text-shadow: 0px 1px rgba(0,0,0,0.5);
 }

 .text.title {
    text-align: center;
    font-size: 22px;
    line-height: 41px;
 }
  .text.button {
    text-align: right;
    font-size: 16px;
    line-height: 40px;
 }
 .text.contact{
    font-size: 16px;
    line-height: 24px;
 }
 .txt-white{
  color:white;
}
.txt-grey{
  color:#4f5052;
}
.txt-red{
   color:#fe4221;
}
.contact_column a {

    color:#fe4221;
    font-weight: bold;
    text-decoration: none;

}
.footer a {
      color:#8f2c1b;
}
/*--------------------------ELEMENTS-----------------------------------*/

.logo {
    height: 100%;
    width: 175px; 
    float: left;
    background-image:url(../images/novolar_logo.png); 
    background-repeat: no-repeat;
    background-position: 0% 50%;

}


.menu{
    height: 100%;
    width: 60%; 
    float: left;
}

.opt_wrapper{

    height: 100%;
    width: 50%;
    display: table;
    margin-left: 25%;
    
}

.opt{

    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 0.8em;
    padding-right: 15px;
}

.social{
    height: 100%;
    float: right;
    text-align: center; 
    display: table;
}

.social a {
    
    display:inline;
    width:100%;
    height:100%;
}


.button{
    height: 100%;
    float: right;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 100%;
    min-width: 50px;

}

/*--------------------------ELEMENTS-----------------------------------*/

body, html {
    height: 100%;
}
a {
    text-decoration: none;
}
.header { 
    background-color: #fe4221;
    width: 100%;                
    height: 80px;
    position: fixed;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.header_blank{ 
    width: 100%;                
    height: 10%;
    min-height: 44px;
}

.header_wrapper { 
    width: 80%;
    height: 100%;
    text-align: center;
    margin-left: 10%;
}

.slider {
    background-image: url(../images/bck03.jpg);  
    background-size: cover;
    width: 100%;
    height: 75%;
    background-repeat: no-repeat;
}

.container {
    width: 55%;
    height: auto;
    margin:auto;
}
.footer {
    width: 100%;
    height: 6%;
    min-height: 44px;
    font-size: 11px;
    line-height: 44px;
    color:#8f2c1b;

}
.social_container {
    width: 70%;
    height: 60px;
    margin:auto;
    min-width: 550px;
}
.brand_container{
    background: url(../images/bck02.jpg) no-repeat center left; 
    background-size: cover; 
    width: 100%;
    margin:auto;
 }
 .image_container{
    display: inline-table;
    padding: 10px;
 }
 .image_contact{
    display: inline-block;
    padding: 10px;
    width: 60%;
 }
 .wrapper{
    text-align: center;
    width: 100%;
 }

 .contact_container {
    width: 60%;
    height: auto;
    margin:auto;
}

.contact_column {
    width: 33.33%;
    height: auto;
    float: left;
    display:inline;
    text-align: center;
}

/*--------------------------BUTTONS-----------------------------------*/

 .facebook {
    background-image: url(../images/facebook_trans.jpg); 
}
.pinterest {
    background-image: url(../images/pinterest_trans.jpg);
    margin-right: 15px; 
}
/*--
.facebook:hover{
    opacity: 0.85;
}
.pinterest:hover{
    opacity: 0.8;
}
---*/   
.facebook:active{
    background-image: url(../images/facebook_trans_02.jpg); 
}

.pinterest:active{
    background-image: url(../images/pinterest_trans_02.jpg); 
}

/*--------------------------MEDIA QUERIES-----------------------------------*/



@media (min-width : 200px) and (max-width : 480px) {
        
         .header_wrapper {
            width: 96%;
            height: 100%;
            text-align: center;
            margin-left: 2%;
        }

        .logo {
            height: 100%;
            width: 40%;
            float: left;
            background-image: url(../images/novolar_logo_mobile.png);
            background-repeat: no-repeat;
            background-position: 0% 50%;

        }
        .opt.text.txt-white.section{
            display: none;
        }
        .text.title{
            font-size: 20px;
            line-height: 38px;
        }
        .text.section{
            font-size: 13px;
        }

        .slider {
            display: none;
            }

        .container {
            width: 90%;
            height: auto;
            margin:auto;
        }

        .social_container {
            width: 90%;
            height: auto;
            margin:auto;
            min-width: 100%;
        }
   
        .image_container{
            width: 40%;
         }
        .contact_container {
            width: 80%;
        }
        .contact_column {
            width: 100%;
        }
        .image_contact{
            width: 50%;

         }

}



@media (min-width : 480px) and (max-width : 1024px) {
    
        .header_wrapper {
            width: 96%;
            height: 100%;
            text-align: center;
            margin-left: 2%;
        }

        .opt.text.txt-white.section{
            display: none;
        }
        

        .slider {
            background-size: cover;
            width: 100%;
            height: 60%;
            min-height: 70px;
            }


        .container {
            width: 90%;
            height: auto;
            margin:auto;
        }

        .social_container {
            width: 90%;
            height: auto;
            margin:auto;
            min-width: 100%;
        }

        .contact_container {
            width: 100%;
        }  

         .image_contact{
            width: 50%;
         } 

        
}





/*------------------
        Lunes a Viernes :
          10:00-13:30 horas
          17:00-20:30 horas
          S&aacute;bados :
          10:00-13:30 horas
          18:00-20:30 horas


          Avenida Alcalde Federico Molina Orta, 28
          21007 Huelva, Espa&ntilde;a


<a href="http://br.pinterest.com/NovolarModa">
    <a href="http://br.pinterest.com/NovolarModa">

 -----------------*/

